.region-content {
  font-family: 'Open Sans', sans-serif;
}
#page-header, footer.footer, #speakout-header {
  display: none;
}
.language-switcher-locale-url {
  visibility: hidden;
}
legend {
  margin: 10px 0;
}
nav.navbar-default { /* Speakout header */
  margin-bottom: 3em;
}

#crm-container #intro_text.intro_text-section {
  margin-bottom: 1em;
}
.crm-container .crm-section .label {
  width: 25%;
}
.crm-container .crm-section .content {
  margin-left: 27%;
}
.crm-container .crm-section.other_amount-section {
  display: none;
}
.crm-container .crm-section.is_recur-section .label {
  display: none;
}

#crm-container.crm-public .label,
#crm-container.crm-public .content {
  padding: .2em .6em;
  line-height: 2.8em;
}
.price_set-section {
  border: 1px solid;
  border-radius: 5px;
  background-color: #f5f5f5;
}
#crm-container.crm-public .price-set-row {
  display: inline-block;
  font-size: 1.2em;
}
#crm-container.crm-public .price-set-row input {
  display: none;
}
.price-set-option-content.highlight {
  background-color: #05b1b2;
}
.price-set-option-content {
  padding: .2em 1em .5em;
  border: solid 1px;
  border-radius: 5px;
  background-color: #d9d9d9;
}

#billingcheckbox, label[for=billingcheckbox] {
  display: none !important;
}

.crm-submit-buttons {
  text-align: center;
}

@media screen and (max-width:767px) {
  .crm-container .crm-section .label {
    float: none;
  }
  .crm-container .crm-section .content {
    margin-left: auto;
  }
}

.crm-contribution-main-form-block .custom_pre_profile-group fieldset, .crm-container fieldset.billing_name_address-group {
  border: 0px;
  margin:0;
  padding:0;
}

.crm-contribution-main-form-block .custom_pre_profile-group legend, .crm-container fieldset.billing_name_address-group legend {
  display:none;
}
